<a href="https://colab.research.google.com/github/parikannappan/-Python-CI-CD-Tutorial-/blob/master/loc_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
 
df = pd.DataFrame({'Age': [30, 20, 22, 40, 32, 28, 39],
                   'Color': ['Blue', 'Green', 'Red', 'White', 'Gray', 'Black',
                             'Red'],
                   'Food': ['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese',
                            'Melon', 'Beans'],
                   'Height': [165, 70, 120, 80, 180, 172, 150],
                   'Score': [4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                   },
                  index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean',
                         'Christina', 'Cornelia'])

 -- loc --

           Color  Height
Nick       Green      70
Aaron        Red     120
Christina  Black     172

In [ ]:
df

           Age  Color    Food  Height  Score State
Jane        30   Blue   Steak     165    4.6    NY
Nick        20  Green    Lamb      70    8.3    TX
Aaron       22    Red   Mango     120    9.0    FL
Penelope    40  White   Apple      80    3.3    AL
Dean        32   Gray  Cheese     180    1.8    AK
Christina   28  Black   Melon     172    9.5    TX
Cornelia    39    Red   Beans     150    2.2    TX

In [ ]:
print("\n -- loc -- \n")
print(df.loc[df['Age'] < 30, ['Color', 'Height']])

 -- loc --

           Color  Height
Nick       Green      70
Aaron        Red     120
Christina  Black     172

In [ ]:
print(df.iloc[(df['Age'] < 30).values, [1, 3]])

           Color  Height
Nick       Green      70
Aaron        Red     120
Christina  Black     172

In [ ]:
print(df.iloc[(df['Age'] < 30).values])

           Age  Color   Food  Height  Score State
Nick        20  Green   Lamb      70    8.3    TX
Aaron       22    Red  Mango     120    9.0    FL
Christina   28  Black  Melon     172    9.5    TX